:root {

    --teal: #069494;
    --mint-green: #98FF98;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scrollbar-gutter: stable;

    @media (max-width:900px) {
        font-size: 56.25%;
    }

    @media (max-width:600px) {
        font-size: 50%;
    }
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.login_body {
    background-image: url(img/127198.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.signup_html {
    scrollbar-gutter: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    background-color: #f9f9f9;
    z-index: 10;
    position: relative;

    & svg {
        width: 24px;
        height: 24px;
    }

    & .tour_types_li img{
        width: 1.4rem;
        height: 1.4rem;
        display: none;
        margin-left: auto;
    }
}

.title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 900;
    background-image: linear-gradient(to right, #233436, #1E4445);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.title_header_out_container {
    background-color: #f9f9f9;
    display: none;
}

.title_header_out {
    display: block;
    text-align: center;
    padding: 2rem 0;
    font-size:5rem;
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_li {
    padding: 2rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.tour_types_li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.tour_types_ul {
    width: 20rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    transition: opacity .2s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
}

.tour_types_ul.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.chevron_down {
    transition: transform .2s ease;
}

.chevron_down.active {
    transform: rotateZ(180deg);
}

.tour_types_ul li {
    padding: 2rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.tour_types_ul a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.nav_utility {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.book_now {
    width: 12rem;
    height: 4rem;
    font-size: inherit;
    font-weight: 700;
    background-color: hsl(180, 92%, 30%);
    border: 1px solid #1E4445;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;

    &:hover {
        background-color: hsl(180, 92%, 25%);
    }
}

.search_container {
    position: relative;
}

.search_btn {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #DDD;

    &:hover {
        background-color: #eee;
    }
}

.search {
    position: absolute;
    top: 140%;
    right: 0%;
    width: 35rem;
    height: 4rem;
    padding-inline-start: 1rem;
    font-size: inherit;
    border-radius: 25px;
    border: 1px solid #aaa;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 10;

}

.search.active {
    transform: scaleX(1);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

#lang {
    height: 3rem;
}

.login_btn {
    width: 12rem;
    height: 4rem;
    font-size: inherit;
    font-weight: 700;
    border: 1px solid #1E4445;
    border-radius: 25px;
    cursor: pointer;
    background-color: #eee;

    &:hover {
        background-color: #ddd;
    }
}

/*      HERO SECTION        */

.section_hero {
    background-image: url(img/cover.jpg);
    width: 100%;
    height: calc(100vh - 7rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero_text {
    width: 30vw;
    min-width: 35rem;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.hero_text h2 {
    margin-bottom: 1rem;
}

.hero_text h4 {
    margin-bottom: 1rem;
}

.hero_text button {
    width: 18rem;
    height: 5rem;
    font-size: 2rem;
    background-color: hsl(180, 92%, 30%);
    border: 1px solid hsl(180, 92%, 20%);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #1E4445;
    }
}

hr {
    border: none;
    height: 1px;
    width: 80%;
    margin: 5rem auto;
    background-color: hsl(0, 0%, 80%);
    /* box-shadow: 0 5px 5px hsl(0, 0%, 70%); */
}

/*      CARD SECTION        */

.card_section_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section_cards {}

.card_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    width: 31rem;
    height: 48rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    perspective: 10000;
}

.card .card_front {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .5s ease;
    /* z-index: 5; */
}

.card .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #1E4445;
    transition: transform .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* z-index: 1; */

    & button {
        width: 16rem;
        height: 5rem;
        font-size: inherit;
        background-color: hsl(180, 92%, 30%);
        border: 1px solid #1E4445;
        border-radius: 25px;
        cursor: pointer;
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;

        &:hover {
            background-color: hsl(180, 92%, 25%);
        }
    }

    & p {
        color: white;
        font-size: 1.8rem;
    }
}

.card:hover .card_front {
    transform: rotateY(180deg);
}

.card:hover .card_back {
    transform: rotateY(0);
}

.card figure {
    width: 100%;
    height: 25rem;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card .text h3 {
    font-size: 1.8rem;
}

.card .text p {
    font-size: 1.6rem;
    font-style: italic;
}

.card .text ul {
    list-style-type: none;
}

.card .text li {
    font-size: 1.6rem;
}

/*      TESTIMONIALS SECTION        */

.testimonials_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15rem auto;
    gap: 2rem;
    row-gap: 10rem;
    justify-content: center;
}

.testimonial {
    width: 58rem;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    padding: 2rem 1rem;

}

.testimonial figure {
    width: 10rem;
    height: 10rem;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    top: -55%;
    border: 5px solid #ddd;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.testimonial .text {

    /* width: 60%; */
    & h6 {
        font-size: 1.6rem;
        margin-left: 80%;
    }

    & p {
        font-size: 1.6rem;
    }

    & span {
        position: absolute;
        top: -15%;
        right: 30%;
        font-style: italic;
    }
}


/*      FOOTER      */

.footer_container {
    background-color: #f9f9f9;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 3rem;

}

.footer_left {}

.title_footer {
    font-size: 5rem;
    font-family: 'Montserrat';
    font-weight: 900;
    background-image: linear-gradient(to right, #233436, #1E4445);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.footer_left .social {

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    &>* {
        width: 3rem;
        height: auto;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer_right ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;

    & a {
        text-decoration: none;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer_left form {
    /* background-color: #eee; */
    border: 1px solid hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    & input {
        height: 4rem;
        width: 35rem;
        font-size: inherit;
        padding-left: 1rem;
        border-radius: 5px;
        border: 1px solid hsl(0, 0%, 50%);
    }

    & button {
        height: 4rem;
        width: 15rem;
        font-size: 1.8rem;
        border-radius: 1rem;
        border: 1px solid hsl(0, 0%, 50%);
        cursor: pointer;

        &:hover {
            background-color: hsl(0, 0%, 85%);
        }

    }
}

.footer_right p {
    margin-bottom: 5rem;
}



/*      LOG IN INDEX.HTML       */

.form_container {
    width: 45rem;
    /* height: 80vh; */
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 5px hsl(0 0% 0% / .3);
    position: relative;
    padding: 1rem 0;
    transition: transform .3s ease;
}

.form_container.active {
    transform: translateX(-50%);
}

.form_login {
    width: 80%;
    /* background-color: #98FF98; */
}

.title_login_main {
    font-size: 3.8rem;
}

.title_login {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.form_login .internal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_login .internal #name {}

.form_login .internal label {}

.form_login .internal input {
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: inherit;
    padding-left: 3rem;
    background-color: transparent;
    margin-bottom: 2rem;
}


.name_container {
    position: relative;
}

.password_container {
    position: relative;
}

.svg_name,
.svg_password {
    position: absolute;
    top: calc(50% - 10.5px);
    transform: translateY(-50%);
}

.svg_visible,
.svg_visible_off {
    position: absolute;
    top: calc(50% - 10.5px);
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    padding: 5px;
    border-radius: 50%;
    fill: hsl(0, 0%, 30%);

    &:hover {
        background-color: #eee;
    }
}

.svg_visible.active {
    display: none;
}

.svg_visible_off {
    display: none;
}

.svg_visible_off.active {
    display: inline-block;
}

.form_login .forgot {
    margin-left: 60%;
    cursor: pointer;
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}

.form_login .form_login_btn {
    display: block;
    width: 100%;
    height: 4rem;
    color: #fff;
    margin-top: 2rem;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right, #233436, #1E4445);
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
        animation: button_gradient .5s infinite;
    }
}

.form_container>span {
    font-size: 1.4rem;
    margin-block: 2rem 0;
}

.form_container .external {
    display: flex;
    gap: 1rem;

    & img {
        width: 3.5rem;
        height: auto;
    }
}

.external figure {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.form_container .signup_link {
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}


.form_signup {
    width: 45rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 5rem 10%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 5px hsl(0 0% 0% / .3);
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .3s ease;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.form_signup.active {
    left: 120%;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.form_signup input {
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: inherit;
    padding-left: 1rem;
    background-color: transparent;
}

.form_signup .signup_btns {
    display: flex;
    gap: 3rem;

    & button {
        border: none;
        border-radius: 25px;
        cursor: pointer;
        height: 4rem;
        font-size: inherit;
        transition: background-color .2s ease, color .2s;
    }
}

.form_signup .create_account {

    width: 15rem;
    background-color: #2c5d5f;
    color: #fff;


    &:hover {
        background-color: #2f99a5;
    }
}

.form_signup .reset {
    width: 10rem;
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #aaa;
    }
}

.password_signup_container,
.password_signup_re_container {
    position: relative;
}

.svg_visible_signup,
.svg_visible_off_signup,
.svg_visible_off_signup_re,
.svg_visible_signup_re {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    padding: 5px;
    border-radius: 50%;
    fill: hsl(0, 0%, 30%);
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    &:hover {
        background-color: #eee;
    }
}

.svg_visible_off_signup,
.svg_visible_off_signup_re {
    display: none;
}

.svg_visible_off_signup.active,
.svg_visible_off_signup_re.active {
    display: inline-block;
}

.svg_visible_signup.active,
.svg_visible_signup_re.active {
    display: none;
}


/*      ANIMATIONS      */

@keyframes button_gradient {
    0% {
        background-image: linear-gradient(to right, #233436, #1E4445);
    }

    25% {
        background-image: linear-gradient(to right, #233436, 80% #233436, #1E4445);
    }

    50% {
        background-image: linear-gradient(to right, #1E4445, #233436);
    }

    75% {}

    100% {
        background-image: linear-gradient(to right, #233436, 50% #1E4445, #1E4445);
    }
}

.hamburger {
    /* position: absolute;
    left: 2rem; */
    width: 5rem;
    height: 5rem;
    /* padding: 1rem; */
    background-color: #eee;
    border: none;
    border-radius: 50%;
    display: none;
    place-items: center;
    cursor: pointer;
}

.hamburger svg {
    width: 4rem;
    height: 4rem;

}

/*      MEDIA QUERIES       */

@media (max-width:1090px) {

    .hamburger {
        display: grid;
    }

    .header {
        justify-content: flex-start;
        height: 8rem;
    }

    .header .title {
        margin-left: 2rem;
    }

    .header .nav_primary {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #f9f9f9;
        width: 30rem;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-5px);
        transition: transform .2s ease, opacity .2s ease;
    }

    .header .nav_primary.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }

    .header .nav_primary .nav_ul {
        flex-direction: column;

    }

    .header .nav_primary .nav_ul li {
        padding-left: 3rem;
    }

    .header .nav_primary .nav_ul .tour_types_ul {
        width: 30rem;
        left: 100%;
        top: 0rem;
    }

    .header .nav_primary .nav_ul .tour_types_ul li {
        &:hover {
            background-color: #ddd;
        }
    }

    .header .nav_primary .nav_ul .tour_types_li {
        justify-content: flex-start;

    }

    .header .tour_types_li svg{
        display: none;
    }

    .header .tour_types_li img{
        display: inline ;
    }

    .nav_utility {
        /* flex-direction: column; */
        position: relative;
        gap: 2rem;
        margin-left: auto;
        /* align-items: center; */
    }

    .search_container {
        /* position: absolute; */
        top: 110%;
    }

    .search_container .search {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

@media (max-width:570px) {

    .title_header_out_container {
        display: block;
    }

    .title_header_in {
        display: none;
    }

    .search {
        width: 90vw;
        top: 160%;
    }

     .header .nav_primary .nav_ul .tour_types_ul {
        width: 30rem;
        left: 0;
        top: 100%;
        background-color: #eee;
    }

     .header .tour_types_li svg{
        display: inline-block;
        margin-left: 2rem;
    }

    .header .tour_types_li img{
        display: none ;
    }

    .footer_left form input {
        width: 100%;
    }

}

@media (max-width:490px) {
    .testimonial {
        width: 90%;
    }
}

@media (max-width:370px) {
    .testimonials_container {
        row-gap: 13rem;
    }
}

